@import "../../index.scss";

.modal-outer {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;

  .overlay {
    background: rgba(0, 0, 0, 0.55);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1010;
  }
}

.modal-inner {
  background: $stubby-white;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
  color: $stubby-black-90;
  font-family: "Fauna One", Helvetica, Arial, sans-serif;
  margin: calculateRem(24px) auto 0;
  max-width: calculateRem(1200px);
  padding: calculateRem(16px);
  position: relative;
  width: 96%;
  z-index: 1020;

  header {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin-bottom: calculateRem(16px);

    @include font-size(22px);
  }

  img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
    width: 100%;
  }

  .icon-close {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
