@import "../../index.scss";

.portfolio {
  .screenshot {
    margin: calculateRem(32px) auto;

    h3 {
      margin-bottom: calculateRem(8px);
    }

    p {
      margin-bottom: calculateRem(16px);
    }

    img {
      border: 3px solid $stubby-white-20;
      width: 100%;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.modal-content {
  color: $stubby-black-90;

  h3 {
    margin-bottom: calculateRem(16px);
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .screenshot {
      margin: calculateRem(16px) 0;
      width: 48%;

      &:first-child {
        margin-top: calculateRem(16px);
      }
    }
  }
}
