@mixin button($btn-color-1: $stubby-white, $btn-color-2: $stubby-purple-10) {
  background: $btn-color-1;
  box-shadow: 0 0 1px 1px $btn-color-1;
  border: 2px solid $btn-color-2;
  border-radius: 2px;
  color: $btn-color-2;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: calculateRem(24px) 0;
  padding: calculateRem(8px) calculateRem(12px);

  @include font-size(14px);

  &:hover {
    background: $btn-color-2;
    box-shadow: 0 0 1px 1px $btn-color-1;
    border: 2px solid $btn-color-2;
    color: $btn-color-1;
  }
}

.btn {
  @include button();
}

.indeed-btn {
  @include button($stubby-white, $indeed-blue);
}

.linkedin-btn {
  @include button($stubby-white, $linkedin-blue);
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .article {
    .btn {
      padding: calculateRem(12px) calculateRem(24px);

      @include font-size(16px);
    }

    .btn-container {
      justify-content: flex-start;
    }

    .linkedin-btn {
      margin-right: calculateRem(16px);
    }
  }
}
