@function calculateRem($size) {
  $rem-size: $size / 16px;
  @return #{$rem-size}rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
  line-height: 1.4;
}

@mixin icon($size, $cursor: pointer) {
  cursor: $cursor;
  height: $size;
  width: $size;
}

@mixin screen-xs {
  @media screen and (min-width: #{$xs}) {
    @content;
  }
}

@mixin screen-sm {
  @media screen and (min-width: #{$sm}) {
    @content;
  }
}

@mixin screen-md {
  @media screen and (min-width: #{$md}) {
    @content;
  }
}

@mixin screen-lg {
  @media screen and (min-width: #{$lg}) {
    @content;
  }
}
