$stubby-white-10: #fff;
$stubby-white-20: #f9f9ea;
$stubby-blue: #7096aa;
$stubby-purple-10: #495075;
$stubby-purple-20: #352a45;
$stubby-purple-30: #2b2633;

$linkedin-blue: #0072b1;
$indeed-blue: #085ff7;