@import "../../index.scss";

.contact-page {
  max-width: 500px;

  h2 {
    margin-bottom: 16px;
  }

  .form-control {
    background-color: $stubby-white-10;
    border: 1px solid $stubby-white-20;
    border-radius: 4px;
    display: block;
    margin-bottom: 8px;
    padding: 8px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  .invalid-feedback {
    color: $stubby-error;
  }

  .form-group {
    margin: 16px 0;
  }
}
