@import "../../index.scss";

.skills {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    margin-bottom: calculateRem(48px);
    text-align: center;
    width: 30%;
  }

  img {
    display: block;
    margin: 0 auto;
    height: calculateRem(90px);
  }

  h4 {
    margin-bottom: 16px;
  }
}

@include screen-md {
  .skills {
    ul {
      justify-content: space-between;
    }

    li {
      width: 24%;

      img {
        height: calculateRem(110px);
      }
    }
  }
}
