@import "../../index.scss";

.portfolio {
  .screenshot {
    margin-bottom: calculateRem(32px);
    margin-top: calculateRem(32px);

    h3 {
      margin-bottom: calculateRem(8px);
    }

    p {
      margin-bottom: calculateRem(16px);
    }

    img {
      border: 3px solid $stubby-white-10;
      width: 100%;
    }
  }
}

.thumbnail-content {
  img {
    cursor: pointer;

    &:hover {
      border-color: $stubby-blue;
    }
  }
}

@include breakpoint() {
  .portfolio {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: calculateRem(16px);
    }

    .screenshot {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
